@import "tailwindcss";

:root {
  --background: #fcfcff;
  --foreground: #171717;
}

@theme inline {
}
@layer components {
  .text-xxl {
    @apply !text-[max(min(5vw,3.2em),1.8em)];
  }
  .text-xl {
    @apply !text-[max(min(4.5vw,2.4em),1.75em)];
  }
  .text-l {
    @apply !text-[max(min(3.2vw,1.8em),1.4em)];
  }
  .text-m {
    @apply !text-[max(min(2.5vw,1.05em),0.85em)];
  }
  .text-s {
  }
}

html {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.dark {
  background: var(--foreground);
  color: var(--background);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
